
.fourpacks[b-wp208afw1j] {
    display: flex;
    justify-content: center;
    position: relative;
    width: 700px;
    top: 100px;
    left: 250px;
    height: 450px;
}

.accordion-body[b-wp208afw1j] {
    line-height: 4ch;
    font-size: 23px;
}

.accordion-body p:hover[b-wp208afw1j] {
    background-color: wheat;
}

.accordion-body li:hover[b-wp208afw1j] {
    background-color: wheat;
}

/* .accordion-button{
    background-color: red;
} */

#point[b-wp208afw1j] {
    color: red;
}

.star[b-wp208afw1j] {
    color: yellow;
}

.mytitle[b-wp208afw1j] {
    font-weight: bolder;
    font-size: 35px;
}

.accordion-button:not(.collapsed)[b-wp208afw1j] {
    color: var(--bs-accordion-active-color);
    background-color: blanchedalmond;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}