.Title[b-tg1e9ve41k] {
    background-color: aqua;
}

.Title1[b-tg1e9ve41k] {
    background-color: burlywood;
}

.cashandlevl[b-tg1e9ve41k] {
    display: inline;
}

.Block[b-tg1e9ve41k] {
    display: block;
}

#TABDiv > div > div[b-tg1e9ve41k],
#TCDiv > div > div[b-tg1e9ve41k] {
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    border-radius: 0px 0px 0px 0px;
    margin-left: 1px;
    margin-right: 1px;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
}

.row[b-tg1e9ve41k] {
    --bs-gutter-x: 0;
}

.click-btn[b-tg1e9ve41k] {
    display: flex;
    /* width: 120px; */
    height: 40px;
    justify-content: center;
    align-items: center;
    /* margin: 0.5rem; */
    line-height: 35px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #000;
    background-color: #F0F0F0;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
}

.btn-styleTC[b-tg1e9ve41k] {
    position: relative;
    border-color: #5e5e5e;
    color: #5e5e5e;
    overflow: hidden;
    &::before

{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transform: translate(-100%, 0) rotate(50deg);
    transform-origin: top left;
    transition: all 0.35s;
    background-color: #E0FBFB;
    z-index: 1;
    content: "";
}

&:hover[b-tg1e9ve41k] {
    color: #000;
    border-color: #E0FBFB;
    &::before

{
    transform: translate(0, 0);
}

}
}

.btn-styleTAB[b-tg1e9ve41k] {
    position: relative;
    border-color: #5e5e5e;
    color: #5e5e5e;
    overflow: hidden;
    &::before

{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transform: translate(-100%, 0) rotate(50deg);
    transform-origin: top left;
    transition: all 0.35s;
    background-color: #C4E1E1;
    z-index: 1;
    content: "";
}

&:hover[b-tg1e9ve41k] {
    color: #000;
    border-color: #C4E1E1;
    &::before

{
    transform: translate(0, 0);
}

}
}

.btn-style[b-tg1e9ve41k] {
    position: relative;
    border-color: #5e5e5e;
    color: #5e5e5e;
    overflow: hidden;
    &::before

{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transform: translate(-100%, 0) rotate(50deg);
    transform-origin: top left;
    transition: all 0.35s;
    background-color: #FFFBE9;
    z-index: 1;
    content: "";
}

&:hover[b-tg1e9ve41k] {
    color: #000;
    border-color: #FFFBE9;
    &::before

{
    transform: translate(0, 0);
}

}
}